html {
    background: url('') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: sans-serif;
    color: white;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

body * {
    -webkit-box-sizing: border-box;
}

.clear {
    clear: both;
}

.tshadow {
    text-shadow: 0 0 10px #aaa;
}

input[type="text"] {
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    outline: none;
    margin: 10px;
    padding: 4px 2px;
    color: white;
}

input[type="text"]:focus {
    border-bottom: 1px solid rgba(255,255,255,0.67);
}

#wrapper {
    width: 100%;
    height: 100%;
}

img#okl-logo {
    width: 100px;
    display: block;
}

#event {
    position: fixed;
    right: 0;
    bottom: 10%;
    max-width: 200px;
    margin-right: 4px;
    padding: 5px;
}

#event-title {
    font-size: 20px;
}

#event-description {
    font-size: 14px;
}