@charset "UTF-8";

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNovaSemiBold';
    src: url('../fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'MillerBanner';
    src: url('../fonts/Miller/Miller-Banner-Roman-01.ttf') format('truetype');
}
@font-face {
    font-family: 'MillerBanner-Light';
    src: url('../fonts/Miller/Miller-Banner-Light-01.ttf') format('truetype');
}
@font-face {
    font-family: 'MillerBanner-Semibold';
    src: url('../fonts/Miller/Miller-Banner-Semibold-01.ttf') format('truetype');
}

body {
    font-family: 'ProximaNova',sans-serif;
    color: white;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
}

body * {
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.clear {
    clear: both;
}

ul {
    list-style-type: none;
    padding: 0px;
}

#center-hr {
    width: 600px;
    height: 1px;
    background-color: rgba(255,255,255,0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-300px);
}

.title {
    font-family: 'MillerBanner-Semibold',serif;
}

.tshadow {
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.9));
}

input[type="text"] {
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    outline: none;
    margin: 10px 10px 10px 0.33em;
    padding: 4px 2px 4px 24px;
    color: white;
    background-color: rgba(0,0,0,0.05);
    transition: border-bottom 0.2s ease, background-color 0.2s ease;
}

input[type="text"]:focus {
    border-bottom: 1px solid rgba(255,255,255,0.67);
    background-color: rgba(0,0,0,0.1);
}

::-webkit-input-placeholder {
    color: rgba(255,255,255,0.75);
}

#search-input {
    width: 170px;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('') no-repeat center fixed;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
}

#wrapper {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 50px 0px rgba(0,0,0,0.5);
}

#okl-logo {
    display: block;
    position: fixed;
    left: 50%;
    bottom: 50%;
    -webkit-transform: translate(-192px, -30px);
}

#search-wrap {
    position: fixed;
    top: 0.33em;
    left: 0.33em;
}

#search-wrap svg {
    position: absolute;
    top: 50%;
    left: 0.33em;
    -webkit-transform: translateY(-12px);
}

#welcome-message {
    position: fixed;
    width: 600px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-family: 'MillerBanner-Semibold',serif;
    font-size: 6em;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-300px, 20px);
}

#clock {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    text-align: center;
    font-size: 2.5em;
    height: 40px;
    line-height: 40px;
    -webkit-transform: translate(-200px, 100px);
}

#refresh {
    position: fixed;
    top: 0.33em;
    right: 0.33em;
    display: block;
}

#search-wrap svg path, #refresh svg path {
    fill: white;
}

#blog {
    position: fixed;
    bottom: 50%;
    right: 0.33em;
}

#event {
    position: fixed;
    right: 0.33em;
    bottom: 0.33em;
    max-width: 400px;
    padding: 5px;
}

#event-title {
    font-size: 20px;
}

#event-description {
    font-size: 14px;
}

#event-dialog {
    display: none;
    background-color: white;
    padding: 10px 0;
    text-align: center;
    color: #000000;
    text-shadow: none;
    border-radius: 5px;
    opacity: 0.95;
}

#event-dialog li {
    padding: 5px;
    opacity: 0.95;
}

#event-dialog-title {
    font-size: 1.5em;
    font-weight: bold;
}

#event-dialog-image {
    max-width: 300px;
}

#event-dialog-products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#event-dialog-products li {
    padding: 5px;
}

#event-dialog-products .product {
    padding: 10px 0;
}

#instagram {
    position: fixed;
    bottom: 50%;
    left: 0.33em;
}