@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNovaSemiBold';
    src: url('../fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
}

body {
    font-family: 'ProximaNova',sans-serif;
    color: white;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

body * {
    -webkit-box-sizing: border-box;
}

.clear {
    clear: both;
}

.tshadow {
    text-shadow: 0 0 10px #aaa;
}

input[type="text"] {
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    outline: none;
    margin: 10px;
    padding: 4px 2px;
    color: white;
}

input[type="text"]:focus {
    border-bottom: 1px solid rgba(255,255,255,0.67);
}

#wrapper {
    width: 100%;
    height: 100%;
    -webkit-background-size: 100%;
    box-shadow: inset 0 0 50px 0px rgba(0,0,0,0.5);
}

img#okl-logo {
    width: 100px;
    display: block;
}